/*
    DEMO STYLE
*/

.sidebar-nav {
    display: block !important;
}

.strength {
    color: purple;
}
.agility {
    color:green;
}
.intelligence {
    color:blue;
}
.constitution {
    color:red;
}

.clickable {
    cursor: pointer;
}

.xp-bar {
    background-color: #ffc107 !important;
}

.health-bar {
    background-color: green !important;
}

.health-bar-container {
    background-color: red !important;
}

.wrapper {
    user-select: none;
}

.dungeon-floor {
    border: 1px solid;
}

.no-transition {
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.progress-bar-transition {
    -webkit-transition: width .1s ease !important;
    -ms-transition: width .1s ease !important;
    transition: width .1s ease !important;
}

.performance-ok {
    color: lightgreen;
    font-weight: bold;
}

.performance-iffy {
    color: yellow;
    font-weight: bold;
}

.performance-yikes {
    color: red;
    font-weight: bold;
}


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}



#sidebar .sidebar-header {
    height:100px;
    padding: 20px;
    background: #6d7fcc;
    width: 250px;
}

#sidebar .sidebar-body {    
    margin-top:100px;
    margin-bottom:75px;
}

#sidebar .sidebar-footer {
    height:75px;
    padding: 20px;
    background: #6d7fcc;
    width: 250px;
}



#sidebar ul li .sidebar-sub-item,
#sidebar ul li .sidebar-sub-sub-item {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li .sidebar-sub-sub-item:hover,
#sidebar ul li .sidebar-sub-item:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

/*
a[data-toggle="collapse"] {
    position: relative;
}
*/

ul ul .sidebar-sub-item {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
ul ul .sidebar-sub-sub-item {
    font-size: 0.9em !important;
    padding-left: 60px !important;
    background: #6d7fcc;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}