.progress-bar {
    
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.sidebar-nav {
    display: block !important;
}

.strength {
    color: purple;
}
.agility {
    color:green;
}
.intelligence {
    color:blue;
}
.constitution {
    color:red;
}

.clickable {
    cursor: pointer;
}

.xp-bar {
    background-color: #ffc107 !important;
}

.health-bar {
    background-color: green !important;
}

.health-bar-container {
    background-color: red !important;
}

.wrapper {
    user-select: none;
}

.dungeon-floor {
    border: 1px solid;
}

/*
.no-transition {
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
.progress-bar-transition {
    -webkit-transition: width .1s ease !important;
    -ms-transition: width .1s ease !important;
    transition: width .1s ease !important;
}
*/


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #6d7fcc;
    color: #fff;
    /*transition: all 0.3s;*/
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
}

#sidebar .sidebar-header {
    height:75px;
    padding: 20px;
    background: #6d7fcc;
    width: 100%;
    border-bottom: solid 1px white;
}

#sidebar .sidebar-body {    
    margin-top:75px;
    margin-bottom:75px;
}

#sidebar .sidebar-footer {
    border-top: solid 1px white;
    height:75px;
    padding: 20px;
    background: #6d7fcc;
    width: 250px;
}



#sidebar ul li .sidebar-sub-item,
#sidebar ul li .sidebar-sub-sub-item {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li .sidebar-sub-sub-item:hover,
#sidebar ul li .sidebar-sub-item:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

/*
a[data-toggle="collapse"] {
    position: relative;
}
*/

ul ul .sidebar-sub-item {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
ul ul .sidebar-sub-sub-item {
    font-size: 0.9em !important;
    padding-left: 60px !important;
    background: #6d7fcc;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    /*transition: all 0.3s;*/
    position: absolute;
    left:250px;
    top: 75px;
    bottom: 0;
    overflow: auto;
}

body {
    overflow: hidden;
}